{
  "openapi": "3.1.0",
  "info": {
    "title": "AI Task Hub Skill API",
    "version": "3.2.5",
    "description": "Public skill contract for execute/poll/presentation/account balance/account ledger via host-managed agent task token."
  },
  "servers": [
    {
      "url": "https://gateway-api.binaryworks.app"
    }
  ],
  "x-portal-actions": {
    "portal.skill.execute": {
      "summary": "Execute capability run via host proxy",
      "method": "POST",
      "path": "/agent/skill/execute",
      "input_schema": {
        "$ref": "#/components/schemas/PortalSkillExecuteInput"
      },
      "output_schema": {
        "$ref": "#/components/schemas/PortalSkillExecuteOutput"
      },
      "required_scope": "execute"
    },
    "portal.skill.poll": {
      "summary": "Poll run state via host proxy",
      "method": "GET",
      "path": "/agent/skill/runs/{runId}",
      "input_schema": {
        "$ref": "#/components/schemas/PortalSkillPollInput"
      },
      "output_schema": {
        "$ref": "#/components/schemas/PortalSkillPollOutput"
      },
      "required_scope": "poll"
    },
    "portal.skill.presentation": {
      "summary": "Fetch presentation payload via host proxy",
      "method": "GET",
      "path": "/agent/skill/runs/{runId}/presentation",
      "input_schema": {
        "$ref": "#/components/schemas/PortalSkillPresentationInput"
      },
      "output_schema": {
        "$ref": "#/components/schemas/PortalSkillPresentationOutput"
      },
      "required_scope": "presentation"
    },
    "portal.account.balance": {
      "summary": "Read account points balance via host proxy",
      "method": "GET",
      "path": "/agent/skill/account/balance",
      "input_schema": {
        "$ref": "#/components/schemas/PortalAccountBalanceInput"
      },
      "output_schema": {
        "$ref": "#/components/schemas/PortalAccountBalanceOutput"
      },
      "required_scope": "account_read"
    },
    "portal.account.ledger": {
      "summary": "Read account points ledger via host proxy",
      "method": "GET",
      "path": "/agent/skill/account/ledger",
      "input_schema": {
        "$ref": "#/components/schemas/PortalAccountLedgerInput"
      },
      "output_schema": {
        "$ref": "#/components/schemas/PortalAccountLedgerOutput"
      },
      "required_scope": "account_read"
    }
  },
  "x-host-auth-onboarding": {
    "agent_uid_format": "^agent_[a-z0-9][a-z0-9_-]{5,63}$",
    "conversation_id_format": "^[A-Za-z0-9._:-]{8,128}$",
    "bootstrap_on_binding_missing": {
      "trigger": {
        "code": "SYSTEM_NOT_FOUND",
        "message": "agent binding not found"
      },
      "steps": [
        {
          "endpoint": "/agent/install-code/issue",
          "method": "POST",
          "body": {
            "channel": "clawhub"
          }
        },
        {
          "endpoint": "/agent/bootstrap",
          "method": "POST",
          "body": {
            "agent_uid": "<canonical_agent_uid>",
            "install_code": "<install_code_from_previous_step>"
          }
        },
        {
          "endpoint": "/agent/task-token/issue",
          "method": "POST",
          "retry": true
        }
      ]
    },
    "interactive_fallback_authorization_url_template": "https://<host-owned-domain>/agent-auth?agent_uid=<agent_uid>&conversation_id=<conversation_id>"
  },
  "x-agent-invocation-guide": {
    "cli_modes": [
      {
        "name": "action_first_env_token",
        "command": "AGENT_TASK_TOKEN=<token> node scripts/skill.mjs portal.account.balance '{}'"
      },
      {
        "name": "explicit_token_arg",
        "command": "node scripts/skill.mjs <agent_task_token> portal.skill.poll '{\"run_id\":\"run_123\"}'"
      }
    ],
    "action_payload_templates": {
      "portal.skill.execute": {
        "capability": "human_detect",
        "input": {
          "image_url": "https://files.example.com/demo.png"
        },
        "request_id": "optional_request_id"
      },
      "portal.skill.poll": {
        "run_id": "run_123"
      },
      "portal.skill.presentation": {
        "run_id": "run_123",
        "channel": "web",
        "include_files": true
      },
      "portal.account.balance": {},
      "portal.account.ledger": {
        "date_from": "2026-03-01",
        "date_to": "2026-03-15"
      }
    },
    "error_handling": [
      {
        "match": {
          "code": "AUTH_UNAUTHORIZED",
          "message_contains": "agent task token is required"
        },
        "host_action": "issue_or_refresh_task_token_then_retry_once"
      },
      {
        "match": {
          "code": "AUTH_UNAUTHORIZED",
          "message_contains": "agent_uid claim format is invalid"
        },
        "host_action": "map_alias_to_canonical_agent_uid_then_reissue_token"
      },
      {
        "match": {
          "code": "SYSTEM_NOT_FOUND",
          "message_contains": "agent binding not found"
        },
        "host_action": "run_binding_bootstrap_once_then_retry_token_issue"
      }
    ]
  },
  "paths": {
    "/agent/skill/execute": {
      "post": {
        "summary": "portal.skill.execute",
        "security": [
          {
            "AgentTaskToken": []
          }
        ]
      }
    },
    "/agent/skill/runs/{runId}": {
      "get": {
        "summary": "portal.skill.poll",
        "security": [
          {
            "AgentTaskToken": []
          }
        ]
      }
    },
    "/agent/skill/runs/{runId}/presentation": {
      "get": {
        "summary": "portal.skill.presentation",
        "security": [
          {
            "AgentTaskToken": []
          }
        ]
      }
    },
    "/SKILL.md": {
      "get": {
        "summary": "Read skill markdown (English)"
      }
    },
    "/SKILL.zh-CN.md": {
      "get": {
        "summary": "Read skill markdown (Chinese)"
      }
    },
    "/agent/skill/account/balance": {
      "get": {
        "summary": "portal.account.balance",
        "security": [
          {
            "AgentTaskToken": []
          }
        ]
      }
    },
    "/agent/skill/account/ledger": {
      "get": {
        "summary": "portal.account.ledger",
        "security": [
          {
            "AgentTaskToken": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AgentTaskToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Agent-Task-Token",
        "description": "Host-issued short-lived token. Required claims: sub, agent_uid, conversation_id, scope, exp, jti. Required action scopes: execute|poll|presentation|account_read."
      }
    },
    "schemas": {
      "PortalSkillExecuteInput": {
        "type": "object",
        "required": [
          "capability",
          "input"
        ],
        "properties": {
          "capability": {
            "type": "string"
          },
          "input": {
            "type": "object",
            "additionalProperties": true
          },
          "request_id": {
            "type": "string",
            "maxLength": 64
          }
        }
      },
      "PortalSkillExecuteOutput": {
        "type": "object",
        "properties": {
          "run_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "accepted"
            ]
          },
          "capability": {
            "type": "string"
          },
          "service_id": {
            "type": "string"
          },
          "poll_url": {
            "type": "string"
          },
          "queued_at": {
            "type": "string",
            "format": "date-time"
          },
          "reused": {
            "type": "boolean"
          }
        }
      },
      "PortalSkillPollInput": {
        "type": "object",
        "required": [
          "run_id"
        ],
        "properties": {
          "run_id": {
            "type": "string"
          }
        }
      },
      "PortalSkillPollOutput": {
        "type": "object",
        "properties": {
          "run_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "succeeded",
              "failed"
            ]
          },
          "terminal": {
            "type": "boolean"
          },
          "service_id": {
            "type": "string"
          },
          "output": {
            "type": "object",
            "additionalProperties": true
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "details": {
                "type": "object",
                "properties": {
                  "recharge_url": {
                    "type": "string"
                  }
                },
                "additionalProperties": true
              }
            },
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "finished_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "PortalSkillPresentationInput": {
        "type": "object",
        "required": [
          "run_id"
        ],
        "properties": {
          "run_id": {
            "type": "string"
          },
          "channel": {
            "type": "string",
            "enum": [
              "web",
              "telegram"
            ]
          },
          "include_files": {
            "type": "boolean"
          }
        }
      },
      "PortalSkillPresentationOutput": {
        "type": "object",
        "properties": {
          "run_id": {
            "type": "string"
          },
          "service_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "terminal": {
            "type": "boolean"
          },
          "visual": {
            "type": "object",
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "finished_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "PortalAccountBalanceInput": {
        "type": "object",
        "additionalProperties": true,
        "description": "No input required; payload is optional."
      },
      "PortalAccountBalanceOutput": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string"
          },
          "available_points": {
            "type": "number"
          },
          "recharge_url": {
            "type": "string"
          }
        }
      },
      "PortalAccountLedgerInput": {
        "type": "object",
        "properties": {
          "date_from": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "date_to": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          }
        }
      },
      "PortalAccountLedgerOutput": {
        "type": "object",
        "properties": {
          "timezone": {
            "type": "string"
          },
          "rows": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      }
    }
  }
}
